.MediaControl_Volume {
    position: relative;
    display: flex;
}

.MediaControl_Volume>button {
    background: none;
    border: none;
}

.MediaControl_Volume_Popup {
    left: -50%;
    bottom: -50%;

    display: flex;
    align-items: center;
}

.MediaControl_Volume_Popup>input {
    left: 0px;
    width: 120px;
}