.Notifications {
    position: fixed;
    background-color: var(--global-div-tr);
    box-shadow: -2px 0 5px #0000004d;

    width: 475px;
    height: 100%;

    right: 0px;
    overflow: scroll;

    animation: .3s ease NotificationSlideIn;
}

@keyframes NotificationSlideIn {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0px);
    }
}


.Notifications_Header {
    padding: 15px;
    font-size: 14px;
    border-bottom: 1px solid var(--global-border-color);

    display: flex;
    justify-content: space-between;
}

.Notifications_Header button {
    padding: 5px 15px;
    border-radius: 15px;

    background: var(--global-div);
    border: 1px solid var(--global-border-color);

    transition: all .1s;
    cursor: pointer;
}

.Notifications_Header button:hover {
    border-color: white;
}


.Notifications_Notifs {
    display: flex;
    flex-direction: column;
    gap: 10px;

    margin: 15px;

}

.Notifications_Notifs div {
    height: 70px;
    background-color: var(--global-div);
    outline: 1px solid var(--schedule-card-base-outline-color, var(--global-border-color));
    border-radius: 8px;

    display: flex;

    overflow: hidden;
    cursor: pointer;
}

.Notifications_Notifs div.Seen {
    opacity: .5;
}

.Notifications_Notifs div img {
    height: 100%;
}

.Notifications_Notifs div div {
    margin: 5px;

    background: transparent;
    border: none;
    outline: none;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}