.Profile {
    z-index: 10;

    position: absolute;
    background-color: var(--global-div-tr);
    border: solid 1px var(--global-border-color);
    border-radius: 8px;

    top: 110%;
    right: 0%;

    padding: 5px;
    box-sizing: border-box;
    overflow: hidden;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;

    box-shadow: 0 0px 10px #000000b7;
}

.Profile a,
.Profile Input,
.Profile Select,
.Profile button {
    background-color: var(--global-div);
    text-align: center;

    width: 100%;
    height: 100%;

    border-radius: 8px;
    border: 1px solid var(--global-border-color);

    cursor: pointer;
    padding: 5px;

    transition: all .1s;
}


.Profile Select {
    text-align: left;
}

.Profile Input {
    cursor: text;
    text-align: left;
}

.Profile a:hover,
.Profile Select:hover,
.Profile button:hover {
    background-color: var(--primary-accent-bg);
    color: var(--primary-accent);
}