.EpisodeList {
    overflow: scroll;
}

.Episode {
    height: 35px;
    margin-bottom: 5px;

    border: 1px solid transparent;
    background: linear-gradient(#121419, #121419) padding-box, linear-gradient(to left, rgba(24, 71, 177, .2), rgba(161, 196, 247, .2)) border-box;
    padding: 8px;

    overflow: hidden;
    border-radius: 12px;
}

.Episode-Selected {
    background-color: red;
}