.EpisodeList {
    position: relative;

    padding: 5px !important;
    display: grid;
    grid-template-rows: 40px auto;

    min-height: 100%;
    max-height: 0px;

    overflow-y: scroll;
    overflow-x: hidden;
}


.EpisodeList_Titlebar {
    position: relative;
    display: flex;

    align-items: center;
    justify-content: space-between;
    padding: 0px 15px;

    width: 100%;
}

.EpisodeList_Titlebar h2 {
    font-size: 16px;
}


.EpisodeList_Entries {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.Episode_Skeleton,
.Episode {
    height: 35px;

    display: grid;
    grid-template-columns: auto max-content;
}

.Episode button {
    height: 100%;
    position: relative;
    overflow: hidden;

    outline: 1px solid rgba(245, 245, 245, .1);
    background-color: #141414;
    border: none;
    border-radius: 10px;
    padding: 5px;

    display: flex;
    text-align: left;
    align-items: center;
}

.Episode button a {
    display: inline;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    white-space: nowrap;
}

.Episode button.Selected {
    background-color: #685bb2;
}

.Episode_WatchPercentage {
    position: absolute;
    inset: 0px;
    background-color: rgba(0, 0, 0, 0.457);
    height: 100%;
}

.Episode button.Selected .Episode_WatchPercentage {
    display: none;
}



.EpisodeList_Upcoming {
    position: absolute;

    bottom: 0px;
    height: 40px;
    width: 100%;

    border-top: 1px solid var(--global-border-color);
    margin: 0px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.Episode_Downloaded {
    width: max-content;
    margin-left: 8px;
}

.Episode_Downloaded svg {
    width: 70%;
    margin: auto;
}

.EpisodeList_Unaired {
    position: absolute;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;

    color: var(--global-text-muted);
    text-transform: uppercase;
}

.EpisodeList_Unaired>h1 {
    color: white;
    font-size: clamp(3rem, 11vw, 5.75rem);
}

.Episode_Skeleton {
    position: relative;
    width: 100%;

    outline: 1px solid rgba(245, 245, 245, .1);
    background-color: #141414;
    border-radius: 10px;
    border: none;
    padding: 5px;

    overflow: hidden;
}

.Episode_Skeleton::after {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;

    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.06), transparent);
    animation: shimmer 2s infinite;
}

@keyframes shimmer {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(200%);
    }
}

.EpisodeList_Titlebar>div {
    position: relative;

    outline: 1px solid rgba(245, 245, 245, .1);
    background-color: #141414;
    border-radius: 10px;

    padding: 5px 10px;

    display: flex;
    align-items: center;
    gap: 5px;
}

.EpisodeList_Titlebar>div>button {
    background: transparent;
    border: none;
    outline: none;

    cursor: pointer;

    display: flex;
    align-items: center;
}

.EpisodeList_Titlebar_RefreshMenu {
    z-index: 5;

    position: absolute;
    top: 130%;
    right: 0px;
    width: 150px;

    outline: 1px solid rgba(245, 245, 245, .1);
    background-color: #141414;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.EpisodeList_Titlebar_RefreshMenu>button {
    border: none;
    background: none;
    outline: none;

    text-align: left;
    padding: 5px;
}

.EpisodeList_Titlebar_RefreshMenu>button:nth-child(even) {
    background-color: var(--global-border-color);
}