.MassSubtitlesEditor {
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 10px;

    min-width: 50vw;
}

.MassSubtitlesEditor>h1 {
    justify-content: center;
    text-align: center;
}

.MassSubtitlesEditor_Settings {
    background: var(--global-div);
    border: 1px solid var(--global-border-color);
    border-radius: 8px;

    padding: 10px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.MassSubtitlesEditor_Settings>Select {
    border: 1px solid var(--global-border-color);
    border-radius: 8px;
    padding: 5px 8px;

    cursor: pointer;
}


.MassSubtitlesEditor_Ids>div>select {
    margin-left: 5px;
    border-radius: 8px;
    outline: none;
    border: none;
    padding: 3px;
    padding-left: 5px;

    cursor: pointer;
}


.MassSubtitlesEditor_Status {
    background: var(--global-div);
    border: 1px solid var(--global-border-color);
    border-radius: 8px;
    padding: 5px;

    display: flex;
    justify-content: center;
    gap: 5px;
}


.MassSubtitlesEditor_Episodes {
    background: var(--global-div);
    border: 1px solid var(--global-border-color);
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    gap: 5px;

    max-height: 400px;
    overflow: scroll;

}

.MassSubtitlesEditor_Episodes>p {
    margin: 10px;
    text-align: center;
}

.MassSubtitlesEditor_Episodes_Header>th {
    padding: 10px 0px;
    text-align: center;
}

.MassSubtitlesEditor_Episodes_Header_EpisodeName {
    width: 25%;
}



.MassSubtitlesEditor_Episodes_Entry {
    margin: 0px;
    text-align: center;
}

.MassSubtitlesEditor_Episodes_Entry:nth-child(odd) {
    background-color: var(--global-div-tr);
}

.MassSubtitlesEditor_Episodes_Entry>* {
    padding: 5px 0px;
}

.MassSubtitlesEditor_Episodes_Entry_Options>select {
    border: 1px solid var(--global-border-color);
    border-radius: 8px;
    padding: 3px 8px;

    width: calc(100% - 10px);

    cursor: pointer;
}





.MassSubtitlesEditor_Controls {
    display: flex;
    justify-content: space-between;
}

.MassSubtitlesEditor_Controls button {
    background-color: red;
    border: 1px solid var(--global-border-color);
    border-radius: 12px;
    padding: 5px 8px;

    cursor: pointer;
}

.MassSubtitlesEditor_Controls>div {
    display: flex;
    gap: 5px;
}

.MassSubtitlesEditor_Controls>div>button {
    background: var(--global-div);
}


.MassSubtitlesEditor_Loading {
    position: absolute;

    backdrop-filter: blur(3px);
    inset: 0px;

    padding: 0px;

    display: flex;
    align-items: center;
    justify-content: center;
}