.MediaContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.MediaContainer_Media {
    display: grid;
    grid-template-columns: auto 380px;
    gap: 15px;

    align-items: start;
}

.MediaContainer_EpisodeInfo {}