.ViewPage {
    padding: 25px;
    padding-top: 5px;

    display: flex;
    flex-direction: column;
    gap: 15px;

    width: calc(100vw * .9);
    margin: auto;
}

.ViewPage_Banner {
    z-index: -10;

    position: absolute;

    top: 55px;

    width: 200%;
    left: -100%;

    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0.4));
}

.ViewPageContainer {
    background-color: var(--global-div-tr);
    border: 1px solid var(--global-border-color);
    border-radius: 10px;

    padding: 15px;
}


.ViewPage_Container {
    display: grid;
    grid-template-columns: auto 380px;
    gap: 15px;
}

.ViewPage_Left {
    display: flex;
    flex-direction: column;
}

.ViewPage_Info {
    display: flex;
    gap: 15px;
}

.ViewPage_Info img {
    height: 250px;
    border-radius: 5px;
}

.ViewPage_Info_Info {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.ViewPage_Info_Info_Tags {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.ViewPage_Info_Info_Tags a {
    color: color-mix(in srgb, #e4d6ae, black 55%);
    padding: 5px 10px;
    border-radius: 15px;

    width: max-content;
    text-align: center;

    font-size: 13px;
    cursor: pointer;
}

.ViewPage_Info_Info p {

    background: var(--global-div);
    border: 1px solid var(--global-border-color);
    border-radius: 8px;
    color: var(--global-text-muted);
    padding: 8px;
    font-size: 13px;

    width: 100%;
}

.ViewPage_Info_Info_MetaData {
    display: grid;
    grid-template-columns: 1fr 1fr;

    color: var(--global-text-muted);
}

.ViewPage_Info_Info_MetaData>div>div {
    padding: 5px 0px;
}

.ViewPage_Info_Info_MetaData strong {
    margin-left: 5px;
    color: white;
}


.ViewPage_Seasons {
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.ViewPage_Info_Controls {
    margin-top: 5px;

    display: flex;
    flex-direction: column;
    gap: 8px;
}


.ViewPage_SeriesControl {
    background: var(--global-div);
    border: none;
    height: 2.2rem;
    border-radius: 8px;
    outline: 1px solid var(--global-border-color);

    font-size: large;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    transition: all .2s;
}

.ViewPage_SeriesControl:hover {
    color: var(--primary-accent);
    background-color: var(--primary-accent-tr);
    outline: 1px solid var(--primary-accent)
}

.ViewPage_Right {
    display: flex;
    flex-direction: column;
    gap: 10px;
}