.MediaRequest {
    z-index: 5;

    position: fixed;
    inset: 0px;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    backdrop-filter: blur(16px);
}

.SeriesControls {
    display: grid;
    grid-template-columns: auto 35px;
    gap: 8px;
}

.SeriesControl_Bookmark {
    font-size: 15px;
    padding-left: 10px;
}



.MediaRequest_Menu {
    position: relative;

    border: 1px solid var(--global-border-color);
    background-color: var(--global-div-tr);
    border-radius: 15px;

    display: grid;
    grid-template-rows: 70px auto;
    overflow: hidden;
    gap: 15px;

    padding: 15px;
}



.MediaRequest_Menu>h1 {
    justify-content: center;
    text-align: center;
}


.MediaRequest_Menu_Ids {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.MediaRequest_Menu_Ids>* {
    background: var(--global-div);
    border: 1px solid var(--global-border-color);
    border-radius: 12px;
    padding: 5px 8px;
}

.MediaRequest_Menu_Ids>button {
    cursor: pointer;
}

.MediaRequest_Menu_Ids>div>select {
    margin-left: 5px;
    border-radius: 8px;
    outline: none;
    border: none;
    padding: 3px;
    padding-left: 5px;

    cursor: pointer;
}


.MediaRequest_Menu_Status {
    background: var(--global-div);
    border: 1px solid var(--global-border-color);
    border-radius: 8px;
    padding: 5px;

    display: flex;
    justify-content: center;
    gap: 5px;
}


.MediaRequest_Menu_Episodes {
    background: var(--global-div);
    border: 1px solid var(--global-border-color);
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    gap: 5px;

    max-height: 400px;
    overflow: scroll;
}

.MediaRequest_Menu_Episodes_Header>th {
    padding: 10px 0px;
    text-align: center;
}

.MediaRequest_Menu_Episodes_Entry {
    margin: 0px;
    text-align: center;
}

.MediaRequest_Menu_Episodes_Entry:nth-child(odd) {
    background-color: var(--global-div-tr);
}

.MediaRequest_Menu_Episodes_Entry>* {
    padding: 5px 0px;
}


.MediaRequest_Menu_Controls {
    display: flex;
    justify-content: space-between;
}

.MediaRequest_Menu_Controls button {
    background-color: red;
    border: 1px solid var(--global-border-color);
    border-radius: 12px;
    padding: 5px 8px;

    cursor: pointer;
}

.MediaRequest_Menu_Controls>div {
    display: flex;
    gap: 5px;
}

.MediaRequest_Menu_Controls>div>button {
    background: var(--global-div);
}