.HomePage {
    margin: 15px auto;
    max-width: calc(1920px * .9);

    padding: 0px 5px;

    display: flex;
    flex-direction: column;
    gap: 25px;
}

.HomePage_Body {
    display: grid;
    grid-template-columns: auto 400px;
    gap: 25px;
}

@media (max-width: 1200px) {
    .HomePage_Body {
        display: flex;
        flex-direction: column;
    }
}

.HomePage_Right {
    display: flex;
    flex-direction: column;
    gap: 15px;
}