.HomePage {
    margin: 15px 80px 80px;

    display: flex;
    flex-direction: column;
    gap: 25px;
}

.HomePage_Body {
    display: grid;
    grid-template-columns: auto 400px;
    gap: 25px;
}

.HomePage_Right {
    display: flex;
    flex-direction: column;
    gap: 15px;
}