.Trending {
    position: relative;
    width: 100%;
    height: 450px;

    border-radius: 15px;

    overflow: hidden;
    cursor: pointer;
}

.Trending img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Trending_ImgOverlay {
    position: absolute;
    inset: 0px;
    background: linear-gradient(45deg, var(--global-primary-bg) 5%, transparent 60%), linear-gradient(0deg, var(--global-primary-bg) 1%, transparent 60%), linear-gradient(-45deg, var(--global-primary-bg) 5%, transparent 60%);
}

.Trending_Navigation {
    position: absolute;

    right: 10px;
    top: 10px;

    display: flex;
    align-items: center;

    gap: 5px;
}

.Trending_Navigation button {
    border: 1px solid var(--global-border-color);
    backdrop-filter: blur(10px) contrast(125%);
    background: rgba(14, 14, 14, .3);
    padding: 5px;
    border-radius: 8px;

    cursor: pointer;
}


.Trending_Navigation a {
    border: 1px solid var(--global-border-color);
    backdrop-filter: blur(10px) contrast(125%);
    background: rgba(14, 14, 14, .3);
    padding: 10px 15px;
    border-radius: 8px;
}

.Trending_Info {
    position: absolute;

    left: 10px;
    bottom: 20px;

    width: 50%;

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.Trending_Info h1 {
    text-align: center;
    font-size: clamp(1.4rem, 3vw, 2.5rem);
}

.Trending_Info p {
    font-size: 13px;
    text-align: center;

    max-height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;

    color: var(--global-text-muted);
}

.Trending_Info a {
    background: var(--global-div-tr-2);
    border: 1px solid var(--global-border-color);
    padding: 5px;
    font-size: 15px;
    border-radius: 10px;
}

.Trending_PlayButton {
    position: absolute;
    bottom: 20px;
    right: 20px;

    border: 1px solid var(--global-border-color);
    background: var(--global-div-tr-2);

    padding: 10px 25px;
    border-radius: 25px;

    font-size: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    transition: all .1s;
    cursor: pointer;
}

.Trending_PlayButton:hover {
    border-color: white;
}