.CardRow_Cards {
    display: grid;
    grid-template-columns: auto max-content;
    gap: 10px;
}

.CardRow_Cards_Entries {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: minmax(190px, 200px);
    overflow-x: hidden;

    gap: 22px;

}

.CardRow_Cards_ViewMore {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 120px;

    border-radius: 8px;

    border: 1px solid var(--global-border-color);
    color: var(--global-text-muted);

    transition: all .3s;
}

.CardRow_Cards_ViewMore:hover {
    border-color: white;
    color: white;
}

.CardRow_Cards_ViewMore::before {
    content: "";
    position: absolute;
    background: linear-gradient(270deg,
            #080808 0%,
            rgba(8, 8, 8, 0) 100%);

    height: 110%;
    width: 50%;

    right: 101%;
}