.DropDownSearch {
    position: relative;

    width: 250px;
    cursor: pointer;
}


.DropDownSearch_Search {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: auto 30px;

    position: relative;
    background-color: var(--global-secondary-bg);
    border: solid 1px var(--global-border-color);
    border-radius: 8px;

    align-items: center;

    transition: all .25s;
}

.DropDownSearch_Search[data-selected="true"],
.DropDownSearch_Search:hover {
    color: var(--primary-accent);
    background-color: var(--primary-accent-tr);
    border-color: var(--primary-accent);
}


.DropDownSearch_Container {
    padding: 10px;
    width: 100%;

    display: flex;
    align-items: center;

    flex-wrap: wrap;
    gap: 5px;
}

.DropDownSearch_Container>span {
    position: absolute;
}

.DropDownSearch_Container>* {
    font-size: 12px;
}

.DropDownSearch_Container>input {
    all: unset;

    background-color: transparent;
    width: min-content;
    min-width: 2px;
    border: none;
    margin: 0px;
    padding: 0px;
}

.DropDownSearch_Container>div {
    background-color: var(--global-button-bg-light);
    border-radius: 15px;

    align-items: center;

    display: grid;
    grid-template-columns: auto 13px;
    gap: 5px;
    color: white;

    overflow: hidden;
}

.DropDownSearch_Container>div>p {
    padding-left: 5px;
}

.DropDownSearch_Container>div>div {
    display: flex;
    align-items: center;
    padding-right: 2px;

    transition: all .1s;
    cursor: pointer;
}

.DropDownSearch_Container>div>div:hover {
    background-color: red;
}





.DropDownSearch_Options {
    z-index: 5;
    top: 110%;

    background-color: var(--global-secondary-bg);
    border: solid 1px var(--global-border-color);
    border-radius: 8px;

    position: absolute;
    width: 100%;

    max-height: 150px;

    overflow: scroll;
    display: flex;
    flex-direction: column;
}

.DropDownSearch_Options>div {
    padding: 8px 12px;
    border: 5px;
    font-size: 14px;
}

.DropDownSearch_Options>div.Selected {
    color: red;
}

.DropDownSearch_Options>div:hover {
    background-color: var(--global-tertiary-bg);
}

.DropDownSearch_Options>P {
    padding: 10px 5px;
    text-align: center;
    font-size: 14px;
}