.Search_Criteria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

    gap: 15px;

    width: 100%;
    margin: auto;
}

.Search_Criteria>div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.Search_Criteria_Controls>a {
    color: transparent
}

.Search_Criteria>div>button {
    position: relative;
    background-color: var(--global-secondary-bg);
    border: solid 1px var(--global-border-color);
    border-radius: 8px;

    height: 100%;
    padding: 0px 50px;

    cursor: pointer;
}