.Paginator {
    display: flex;
    flex-direction: column;
    gap: 15px;

    min-height: 850px;
}

.Page_Top {
    display: flex;
    align-items: center;
    justify-content: right;
}

.Page_Top a {
    background-color: var(--global-div-tr);
    border: 1px solid var(--global-border-color);
    border-radius: 5px;
    padding: 5px 10px;

    font-size: 13px;
}

.Page_Content {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    row-gap: 25px;
}


.Page_Pages {
    margin-top: auto;

    background-color: var(--global-div-tr);
    border: 1px solid var(--global-border-color);
    border-radius: 5px;

    padding: 15px;

    display: flex;
    justify-content: center;
}

.Page_Pages button {
    padding: 8px;

    border-radius: 8px;
    background-color: var(--global-div);
    border: 1px solid var(--global-border-color);

    cursor: pointer;
}

.Page_Pages button.Selected {
    filter: brightness(1.05);
    color: var(--primary-accent);
    background-color: var(--primary-accent-dk-tr);
    border-color: var(--primary-accent);
}