.Topbar {
    position: relative;
    background-color: #0e0e0e;
    border-bottom: 1px solid var(--global-border-color);
    height: 55px;
    padding: 7px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.Topbar_btn {
    background-color: var(--global-div);
    border: 1px solid var(--global-border-color);
    border-radius: 6px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    font-size: 18px;
}


.Topbar_Left {
    position: absolute;

    top: 7px;
    bottom: 7px;
    left: 7px;

    display: flex;
    align-items: center;
    gap: 10px;
}

.Topbar_Left_Foldout {
    height: 100%;
    aspect-ratio: 1;

    border: 1px solid var(--nav-button-border-color, var(--global-border-color));
}

.Topbar_Left h1 {
    font-size: 28px;
    cursor: pointer;
}

.Topbar_Centre {
    height: 100%;

    display: flex;
    gap: 8px;
}

.Topbar_Centre input {
    background-color: var(--global-div);
    border: 1px solid var(--global-border-color);
    padding: 8px 12px;
    border-radius: 6px;

    outline: none;
}

.Topbar_Centre button {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
}

.Topbar_Right {
    position: absolute;

    top: 7px;
    right: 7px;
    bottom: 7px;

    display: flex;
    gap: 5px;
}

.Topbar_Right_Profile {
    height: 100%;
    aspect-ratio: 1;
}

.Topbar_Right_Profile img {
    width: 100%;
    height: 100%;
}

.Topbar_Right_Notifications {
    aspect-ratio: 1;
}





.Foldout {
    position: absolute;
    inset: 0px;

    backdrop-filter: blur(8px);
}